@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="margin-top: 30px;"></h1>
    <hr>
    <h1 class="display-4">Home</h1>
    <hr>
    <br>
    <h2 style="color: brown; margin-top: 30px">Mascota Feliz by LQS</h2>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
